
*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
 background-color:rgb(10 11 123);
align-items: center;
padding: 4px 10px;
position: fixed;
}
#logo{
    display: flex;
    /* background-color: yellow; */
    
}
.logo1{
    font-size: 2rem;
    color: white;
}
.logo2{
    padding: 0px 8px;
    margin: 10px 10px;
    font-size: 1.3rem;
    color: rgb(64 220 245);
    align-items: center;
    justify-content: center;
}
.navigation{
 /* background-color: red;  */
    justify-content: right;
    align-items: center;
}

.navigation ul{
    display: flex;
    /* width: 10%; */
    margin-left: 250px;
    
}
  

.navigation ul li{

    list-style: none;
   text-decoration: none;
    
   
}

.navigation ul li a{
    
    padding: 14px;
    font-size: 1.3rem;
    border-radius: 8px;
    text-decoration: none;
    color: white;

}

.navigation ul li a:hover{
color: thistle;

}

#search{
    display: flex;
    /* align-items: right; */
    justify-content: right;
    margin-left: 190px;
    /* background-color: green; */
}
#search input{
    border: 4px solid white;
    border-radius: 6px;
}

.btn{
    margin: 0px 11px;
    padding: 0px 21px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.3rem;
    color: white;
}

.btn:hover{
    cursor: pointer;
   background-color: rgb(66, 64, 167);
}

/* background images  */

#home {
    background-image: url('../pic/bg.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 750px;
    width: 100%;
  }

  /* services */


  .servicer{

    position: rlative;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 100%;
  }

   .services h1{
      
     
    display: block;
    width: 40%;
    margin: auto;
    color: #3e3aff;
    font-size: 70px;
    font-family: 'Source Code Pro', monospace;
    padding: 35px 0px;
    
    
}

  .ourservices{
      display: flex;

  }

  .box{
    background-color: rgb(9 2 84);
    border: 3px solid rgb(168, 164, 164);
    margin: 20px 63px;
    padding: 10px 20px;
    color: white;
  }

  .box h2{
      width: 50%;
      margin: auto;
      padding: 10px;
      color: #6f59ec;
  }

  .box p{
    text-align: justify;
    text-align-last: justify;
    color: #aaa9e8;
}
  
  /* About us */

  .aboutus{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(160, 183, 233);

  }

  .aboutus_content{

    width: 50%;
    margin: auto;
    height: 100%;
  }
  .aboutus_content h1{
    color: #262261;
    font-size: 3.5rem;
    margin: 17px 180px;
    padding: 10px 2px;
    font-family: 'Source Code Pro', monospace;
  }

  .aboutus_content p{
    color: #262261;
    font-size: 1.1rem;
    justify-content: center;
    text-justify: auto;
    padding : 10px 0px;
    text-align: justify;
    text-align-last: center;
  }

  .btn1{
    margin: 90px 4px;
    padding: 8px 49px;
   
    background-color:rgb(10 11 123);
    color: white;

  }

  /*  contact slide */

  .contact_us_slide{
    background-color: rgb(75 76 220);
  }

  .header_primary{
    display: block;
    width: 33%;
    margin: auto;
    color: #8f8ec1;
    font-size: 2.3rem;
    /* margin: 14px 0px; */
    padding: 33px 0px;
    font-family: 'Source Code Pro', monospace;

  }

  .contact_form{
    
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;

  }

  .contact_form input, textarea{
    display: flex;
    width: 430px;
    font-size: 15px;
    margin: 9px 0px;
  }

  .contact_form label{
    color: #a1a6cc;
    font-size: 16px;
    margin: 3px 0px;
  }

  .item{
      margin: 8xp;
      padding: 4px;
  }

  .btn2{
    margin: 29px 31px;
    padding: 3px 99px;
    background-color: #261ed6;
    color: white;
    font-size: 26px;
    color: #9f9dff;
  }